* {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   margin: 0;
   min-height: 100vh;
   color: #f1f5f9;
   background: linear-gradient(113deg, #1A1A1A 4.79%, #090E18 100.69%);
}

/* NAVBAR */

 .navbar {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 1.25em 2em;

   position: sticky; /* Makes the navbar stick to the top of the page */
   top: 0;
   z-index: 1000;

   background: rgba(9, 14, 24, 0.25);
   backdrop-filter: blur(12px);
   -webkit-backdrop-filter: blur(12px);

   border-bottom: 1px solid rgba(241, 245, 249, 0.08); 
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
 }

 #hero-link {
   font-size: 1.5em;
 }

 .nav-links { 
   display: flex;
   gap: 32px;
}

.navbar a {
   font-family: 'Roboto Mono', monospace;
   color: #f1f5f9;
   text-decoration: none;
}

/*HERO SECTION*/ 

#hero-left {
   margin: 12em 20em;
   max-width: 500px;
   width: 100%;
}

#hero-heading {
   font-family: 'Inter', sans-serif;
   font-size: 1.5rem;
   color: #f1f5f9;
   margin: 0;
   letter-spacing: 0.1em;
   font-weight: 500;
   margin-bottom: 1em;
}

#hero-name {
   font-family: 'Inter', sans-serif;
   font-size: 6rem;
   color: #f1f5f9;
   margin: 0;
   letter-spacing: 0.05em;
   margin-bottom: 0.25em;
   font-weight: 600;
}

#hero-description {
   font-family: 'Roboto Mono', monospace;
   font-size: 1.25rem;
   color: #f1f5f9;
   margin: 0;
   letter-spacing: 0.04em;
   margin-bottom: 1em;
}

#hero-btns {
   display: flex;
   gap: 32px;
   margin: 2em 0;
}

.btn {
   font-family: 'Roboto Mono', monospace;
   font-size: 1.2rem;
   color: #f1f5f9;
   margin: 0;
   letter-spacing: 0.04em;
   border: 1.5px solid #f1f5f9;
   padding: 0.5em 0.9em;
   background-color: transparent;
   border-radius: 8px;
   cursor: pointer;
}

#herobtn1 {
   background-color: #f1f5f9;
   color: #1A1A1A;
}


/* ABOUT SECTION */


.about {
   width: min(1050px, 90%); /* Set a maximum width of 900px or 90% of the viewport width, whichever is smaller */
   margin: 0 auto;
   padding: 5rem 0;
}

.section-heading {
   font-family: 'Roboto Mono', monospace;
   text-align: center;
   font-size: 2.5rem;
   letter-spacing: 0.05em;
   margin-bottom: 4em;
   font-weight: 500;
}

.about-intro {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 4rem;
}

.about-text {
   max-width: 700px;
}

.about-text p {
   /* font-family: 'Inter', sans-serif; */
   font-family: 'Roboto Mono', monospace;
   font-size: 1rem;
   line-height: 1.6;
   color: #cbd5e1;
   margin-top: 0;
   margin-bottom: 1.5rem;
}

.about-photo img{
   width: 300px;
   height: 300px;
   border-radius: 999px;
   background: #c7c7c7;
   object-fit: cover; 
   object-position: center 40%;
   filter: brightness(9000%);

   flex-shrink: 0; /* Prevent the image from shrinking */
}

/* EDUCATION */ 
.education {
   margin-top: 10em;
   margin-bottom: 10em;
}
.subsection-heading {
   display: flex;
   align-items: center;
   gap: 1em;
   margin-top: 5em;
   margin-bottom: 2em;
}

.subsection-heading h3 {
   font-family: 'Roboto Mono', monospace;
   font-size: 1.5rem;
   letter-spacing: 0.1em;
   white-space: nowrap;
   margin-right: 0.5em;
   font-weight: 500;
}

.heading-line {
   height: 1.5px;
   background: rgba(241, 245, 249, 0.5);
   flex: 1;
}

.education-content {
   display: flex;
   align-items: center;
   gap: 2rem;
   padding-left: 1rem;
   border-left: 1px solid rgba(241, 245, 249, 0.25);
}

.education-logo {
   width: 180px;
   flex-shrink: 0;
}

.education-text p {
   line-height: 1.5;
   color: #cbd5e1;
}

.school-name {
   color: #f1f5f9 !important;
   font-family: 'Inter', sans-serif;
   font-weight: 600;
   font-size: 1.5rem;
   margin: 0;
   margin-bottom: 0.25em;
}

.degree {
   color: #f1f5f9 !important;
   font-family: 'Roboto Mono', monospace;
   font-weight: 500;
   margin: 0;
   margin-bottom: 1em;

}

.school-details {
   font-size: 0.9rem !important;
   color: #94a3b8 !important;
   font-family: 'Roboto Mono', monospace;
   margin: 0;

}

/*SKILLS */
.skill-card {
   border: 2px dashed rgba(241, 245, 249, 0.25);
   padding: 1.5em;
   margin-bottom: 2em;
   border-radius: 8px;
}

.skill-card h4 {
   font-family: 'Roboto Mono', monospace;
   font-size: 1.25rem;
   letter-spacing: 0.05em;
   margin: 0 0 1.5em 0;
   font-weight: 500;
}

.skill-tags {
   display: flex;
   flex-wrap: wrap;
   gap: 0.75em;
   margin-bottom: 1em;
   max-width: 750px;
   width: 100%;
}

.skill-tags span {
   font-family: 'Roboto Mono', monospace;
   font-size: 0.8rem;
   color: #94a3b8;
   border: 1.75px solid rgba(241, 245, 249, 0.25);
   padding: 0.6em 1.2em;
   border-radius: 10px; 
}


/* PROJECTS SECTION */

/* EXPERIENCE SECTION */

.experience h2 {
   margin-bottom: 1em;
}

.section-subheading {
   font-family: 'Roboto Mono', monospace;
   text-align: center;
   font-size: 1.25rem;
   letter-spacing: 0.05em;
   margin-bottom: 4rem;
}

.experience-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: left;
   gap: 2em;
}

.experience-item {
   display: flex;
   flex-direction: row;
   gap: 2em;
}

.experience-date {
   font-family: 'Roboto Mono', monospace;
   font-size: 1rem;
   letter-spacing: 0.05em;
   color: #94a3b8;
   margin: 0;
}

.timeline-marker {
   display: flex;
   flex-direction: column;
   align-items: center;

   margin: 0 2em;
}

.timeline-star {
   color: #f1f5f9;
   font-size: 2.5rem;
   margin-bottom: 0.25em;
}

.timeline-line {
   width: 2px;
   height: 100%;

   background: rgba(241, 245, 249, 0.75);

}

.experience-card {
   display: flex;
   flex-direction: column;
   border: 2px solid rgba(241, 245, 249, 0.25);
   max-width: 500px;
   width: 100%;
   padding: 1em 2em;
   border-radius: 8px;
}

.experience-card h3 {
   font-family: 'Inter', sans-serif;
   font-size: 1.5rem;
   letter-spacing: 0.05em;
   margin: 0.5em 0 0.25em 0;
   font-weight: 500;
}

.experience-role {
   font-family: 'Roboto Mono', monospace;
   font-size: 1rem;
   letter-spacing: 0.05em;
   margin: 0 0 1em 0;
   font-weight: 500;
   font-style: italic;
}

.experience-description {
   font-family: 'Roboto Mono', monospace;
   font-size: 0.9rem;
   letter-spacing: 0.05em;
   margin: 0;
   color: #94a3b8;
}

.experience-tags {
   display: flex;
   flex-wrap: wrap;
   gap: 0.75em;
   margin: 1em 0 0.75em 0;
   max-width: 750px;
   width: 100%;
}

.experience-tags span {
   font-family: 'Roboto Mono', monospace;
   font-size: 0.8rem;
   color: #94a3b8;
   border: 1.75px solid rgba(241, 245, 249, 0.25);
   padding: 0.6em 1.2em;
   border-radius: 10px; 
}

/* CONTACT SECTION */

/* FOOTER SECTION */

/* DESIGN COMPONENTS */

.highlight {
  background: linear-gradient(180deg, transparent 65%, #365c71 65%);
  display: inline;
}

.bold {
   font-weight: 600;
   color: #f1f5f9;
}